spring:
  devtools:
    livereload:
      enabled: true
  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  thymeleaf:
    cache: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 584801572428288
            client-secret: 6f198b833ffd8499efa5d68a6e54bdb8
          facebook:
            client-id: 584801572428288
            client-secret: 6f198b833ffd8499efa5d68a6e54bdb8
  messages:
    encoding: UTF-8

custom:
  oauth2:
    kakao:
      client-id: 6f0a5e9c1f92e7d6daac97ccaa2c16f0
      client-secret: cp14AXO2zVTyTKgXu2zEnqQ4hAyCPbOS
    naver:
      client-id: G5mtIBALuMssfKHHj3b0
      client-secret: BgDF0uxPkB

mybatis:
  configuration-properties:
    map-underscore-to-camel-case: true

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

--- #test 환경
spring:
  profiles:
    active: test
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        min-idle: 2
        max-idle: 10
        max-active: 10
  jpa:
    generate-ddl: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://211.115.206.199:3306/cardmobile?serverTimezone=UTC
    username: cardmobile
    password: Zkemahqkdlf199@