logging:
  config: classpath:logback-spring.xml
  level:
    org:
      hibernate:
        type: trace

spring:
  jwt:
    secret: ZmQ0ZGI5NjQ0MDQwY2I4MjMxY2Y3ZmI3MjdhN2ZmMjNhODViOTg1ZGE0NTBjMGM4NDA5NzYxMjdjOWMwYWRmZTBlZjlhNGY3ZTg4Y2U3YTE1ODVkZDU5Y2Y3OGYwZWE1NzUzNWQ2YjFjZDc0NGMxZWU2MmQ3MjY1NzJmNTE0MzI=

--- #local 환경

server:
  port: 8080

spring:
  profiles: local
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        min-idle: 2
        max-idle: 10
        max-active: 10
  h2:
    console:
      enabled: true
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:daema;
    username: 1000lima
    password: 1000lima
    sql-script-encoding: UTF-8
    schema: classpath:./db/h2/schema.sql
    data: classpath:./db/h2/data.sql
    continue-on-error: true #table, data exists exception ignore
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:



--- #test 환경

server:
  port: 8080

spring:
  profiles: test
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        min-idle: 2
        max-idle: 10
        max-active: 10
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.0.19:3306/daema?characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: daema
    password: eoak123#@!
    sql-script-encoding: UTF-8
    schema: classpath:./db/mysql/schema.sql
    data: classpath:./db/mysql/data.sql
    initialization-mode: always
    continue-on-error: true #table, data exists exception ignore
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:




--- #prod 환경

server:
  port: 8080

spring:
  profiles: prod
